<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content=""/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="assets/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="assets/css/flat-ui.css" rel="stylesheet">
    <link href="docs/assets/css/demo.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="assets/js/vendor/html5shiv.js"></script>
      <script src="assets/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    

      <div class="login">
        <div class="login-screen">
          <div class="login-icon">
            <img src="img/login/icon.png" alt="Welcome to Mail App" />
            <h4>Welcome to <small>Mail App</small></h4>
          </div>

          <div class="login-form">
            <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name" />
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" />
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <a class="btn btn-primary btn-lg btn-block" href="#">Log in</a>
            <a class="login-link" href="#">Lost your password?</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-9">
          <div class="demo-browser">
            <div class="demo-browser-side">
              <div class="demo-browser-author"></div>
              <div class="demo-browser-action">
                <a class="btn btn-danger btn-lg btn-block" href="http://twitter.com/monstercritic" target="_blank">
                  <span class="fui-plus"></span>Follow
                </a>
              </div>
              <h5>@monstercritic</h5>
              <h6>
                Tourist. Designer. NYC
                <a href="http://shmidt.in" target="_blank">shmidt.in</a>
              </h6>
            </div>
            <div class="demo-browser-content">
              <img src="docs/assets/img/demo/browser-pic-1.jpg" alt="" />
              <img src="docs/assets/img/demo/browser-pic-2.jpg" alt="" />
              <img src="docs/assets/img/demo/browser-pic-3.jpg" alt="" />
              <img src="docs/assets/img/demo/browser-pic-4.jpg" alt="" />
              <img src="docs/assets/img/demo/browser-pic-5.jpg" alt="" />
              <img src="docs/assets/img/demo/browser-pic-6.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="demo-download">
            <img src="docs/assets/img/demo/html-icon.png" src="Free PSD" />
          </div>

          <a href="https://github.com/designmodo/Flat-UI/archive/master.zip" class="btn btn-primary btn-lg btn-block">Download</a>

          <p class="demo-download-text">Your likes, shares and comments make us happy!</p>
        </div>
      </div> <!-- /download area -->

    </div> <!-- /container -->

    

    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/video.js"></script>
    <script src="assets/js/flat-ui.min.js"></script>
    <script src="docs/assets/js/application.js"></script>

  </body>
</html>
